<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>496313767074-75f9mb9cblregbcspjmaa64ribtqvju5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.496313767074-75f9mb9cblregbcspjmaa64ribtqvju5</string>
	<key>API_KEY</key>
	<string>AIzaSyCO6dkFH3BRcYxldmB8mfJ7Q1-jhFDCosc</string>
	<key>GCM_SENDER_ID</key>
	<string>496313767074</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.squareflo.shopl</string>
	<key>PROJECT_ID</key>
	<string>shopl-287800</string>
	<key>STORAGE_BUCKET</key>
	<string>shopl-287800.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:496313767074:ios:f1b66bf19d170a412c33fb</string>
	<key>DATABASE_URL</key>
	<string>https://shopl-287800.firebaseio.com</string>
</dict>
</plist>